<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="css/fathom.sample.css" />
<link rel="stylesheet" type="text/css" href="css/prettify.css" />
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/fathom.js"></script>
<script src="js/prettify.js"></script>
<script>
$(document).ready(function(){
	$('pre').addClass('prettyprint').attr('tabIndex', 0);
	// prettyPrint();
	
	var fathom = $('#presentation').fathom({
		onActivateSlide: function() {
			var $slide = $(this);
			$slide.find('pre:first').focus();
		}
	});
});
</script>
</head>
<body>
<div id="presentation">
    {{#each items}}
	<div class="slide" {{#each attributes}}{{key}}="{{val}}"{{/each}}>
	    {{{ content }}}
	</div>
	{{/each}}
</div>
</body>
</html>
