<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=1024, user-scalable=no">
	<!-- Replace path with correct path to deck.core.css. -->
	<link rel="stylesheet" href="css/deck.core.css" type="text/css">
	
	<!-- Any other extension CSS files go here. -->
	
	<!-- Replace path with correct path to Modernizr file. -->
	<script src="js/modernizr.custom.js"></script>
	
	{{#each includes.head}}{{{ this }}}{{/each}}
</head>
<body class="deck-container">

<!-- use the handlebars each statement to create multiple content sections for the included files -->
{{#each items}}
<section class="slide" {{#each attributes}}{{key}}="{{val}}"{{/each}}>
	{{{ content }}}
</section>
{{/each}}
	
<!-- Other extension HTML snippets go here, at the bottom of the deck container. -->

<!-- Update these paths to point to the correct files. -->
<script src="js/jquery.min.js"></script>
<script src="js/deck.core.js"></script>

<!-- Add any other extension JS files here -->


<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
	$(function() {
		$.deck('.slide');
	});
</script>
{{#each includes.body}}{{{ this }}}{{/each}}
</body>
</html>